/* ---=== ALL PAGES ===--- */

h1 {
  padding-top: 400px;
  font-weight: bolder;
  align-self: center;
}

.pageTitle {
  color: #c74777;
  text-shadow: 6px 6px 0px #f3e8d4;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  align-self: center;
  justify-self: center;
  margin-top: -220px;
}

/* ---=== HOME PAGE ===--- */

.HomePage {
  padding-bottom: 220px;
}

.HomePage img {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  margin-top: 55px;
  position: absolute;
  display: flex;
}

.HomePage h1 {
  color: #c74777;
  text-shadow: 6px 6px 0px #f3e8d4;
}

.HomePage h4 {
  color: #51371c;
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  justify-self: center;
  margin-top: -120px;
  transform: translateX(0%);
}



.HomePage td {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 20px 0;
}

.HomePage table {
  align-self: center;
  justify-self: center;
  margin-top: -220px;
}

.intro {
  background-color: #f3e8d4;
  padding: 40px;
  width: 90%;
  margin: 120px;
  justify-self: center;
  border-radius: 30px;
}

.intro p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #51371c;
}

.intro ins {
  text-decoration: underline wavy;
}

.featuredFlavors {
  background-color: #c74777;
  width: 100%;
  height: 400px;
  margin: 0 0;
  left: 0;
  position: absolute;
  display: flex;
  padding-bottom: 200px;
  /* padding: 0 40px; */
}

/* ---=== NAV BAR ===--- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: self-start;
  padding: 0 40px;
  padding-top: 30px;
  transition: transform 0.8s ease;
  z-index: 10;
  justify-content: space-between;

  /* SVG background */
  background-image: url("../assets/navBarBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar ul {
  display: inline-flex;
  padding-right: 70px;
  padding-top: 20px;
  gap: 50px;
  list-style: none;
  right: end;
}

.navbar li a {
  color: #51371c;
  text-decoration: none;
  font-size: 20px;
  font-family: "Knewave", system-ui;
  font-weight: 600;
  font-style: normal;
}

.navbar li a:hover {
  color: #f3e8d4;
}

.navbar a.active {
  color: #f3e8d4;
}

/* When scrolling down */
.navbar.hide {
  transform: translateY(-100%);
}

/* When scrolling up */
.navbar.show {
  transform: translateY(0);
}

/* ---=== FOOTER ===--- */

.footer {
  position: fixed;
  left: 0;
  width: 105%;
  bottom: 0;
  height: 180px;
  z-index: 1000;
  background-image: url("../assets/footerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 0; */
  transition: transform 0.6s ease;
}

/* Hidden */
.footer.hideFooter {
  transform: translateY(100%);
}

/* Visible */
.footer.showFooter {
  transform: translateY(0);
}

/* Left links */
.footerLeft {
  margin-left: 10px;
  align-self: flex-end;
}

.footerLeft ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
}

.footerLeft li a{
  font-family: "Knewave", system-ui;
  text-decoration: none;
  color: #51371c;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerLeft li a:hover{
    color: #f3e8d4;

}

/* Center logo */
.footerCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding-bottom: 10px;
}

.footerCenter img {
  width: 60px;
}

/* Right social icons */
.footerRight {
  align-self: flex-end;
  margin-right: 120px;
  right: 0;
}

.footerRight ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footerRight img {
  width: 40px;
  height: 40px;
}
