/* ---=== ALL PAGES ===--- */

h1 {
  padding-top: 400px;
  font-weight: bolder;
  align-self: center;
}

.pageTitle {
  color: #c74777;
  text-shadow: 6px 6px 0px #f3e8d4;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 160px;
  align-self: center;
  justify-self: center;
  margin-top: -220px;
  margin-bottom: 30px;
}

/* ---=== HOME PAGE ===--- */

.HomePage {
  padding-bottom: 220px;
}

.HomePage img {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  margin-top: 55px;
  position: absolute;
  display: flex;
}

.HomePage h1 {
  color: #c74777;
  text-shadow: 6px 6px 0px #f3e8d4;
}

.HomePage h4 {
  color: #51371c;
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  justify-self: center;
  margin-top: -120px;
  transform: translateX(0%);
}

.HomePage td {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 20px 0;
}

.HomePage table {
  align-self: center;
  justify-self: center;
  margin-top: -220px;
}

.intro {
  background-color: #f3e8d4;
  padding: 40px;
  width: 90%;
  margin: 120px;
  justify-self: center;
  border-radius: 30px;
}

.intro p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #51371c;
}

.intro ins {
  text-decoration: underline wavy;
}

.introButtonsContainer {
  display: flex;
  gap: 30px;
}

.intro button {
  background-color: #efafc7;
  color: #51371c;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
}

.intro button:hover {
  background-color: #51371c;
}

.intro a {
  color: #51371c;
}

.intro a:hover {
  color: #efafc7;
}

.featuredFlavors {
  background-color: #c74777;
  width: 100%;
  height: 400px;
  margin: 0 0;
  left: 0;
  position: absolute;
  display: flex;
  padding-bottom: 200px;
  /* padding: 0 40px; */
}

/* ---===  EXPLORE FLAVORS PAGE ===--- */
.flavorsPage h4,
.LocationsPage h4,
.ContactUsPage h4,
.CitationsPage h4,
.AboutUsPage h4 {
  color: #51371c;
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  justify-self: center;
  margin-top: -50px;
  transform: translateX(0%);
}

.flavorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
  margin: 40px auto;
}

.flavorCard {
  background: #F3E8D4;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.flavorCard:hover {
  transform: translateY(-5px);
}

.flavorCard img {
  width: 100%;
  border-radius: 15px;
}

.flavorCard button {
  margin-top: 10px;
  background-color: #EFAFC7;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modalContent {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
}

/* ---===  LOCATIONS PAGE ===--- */
.locationContainerCream {
  width: 90%;
  background-color: #f3e8d4;
  justify-self: center;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.locationImage {
  order: 1;
  margin: 20px;
}

.locationInfo {
  order: 2;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;

  gap: 50px;

  margin: 20px;
  margin-top: 0;
}

.locationInfo h5 {
  color: #c74777;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 0;
}

.locationInfo p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #51371c;
  margin: 0;
}

.locationInfo button {
  background-color: #efafc7;
  color: #51371c;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
}

.locationInfo button:hover {
  background-color: #51371c;
}

.locationInfo a {
  color: #51371c;
}

.locationInfo a:hover {
  color: #efafc7;
}
/* ---===  CONTACT US PAGE ===--- */

/* ---===  ABOUT US PAGE ===--- */

.missionAndVision {
  display: flex;
  flex-direction: row;
  gap: 60px;

  padding: 20px 60px;
  margin-bottom: 50px;
}

.mission,
.vision {
  background-color: #f3e8d4;
  border-radius: 30px;
  width: 100%;
  padding: 40px 40px;
}

.mission h5,
.vision h5 {
  color: #c74777;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin: 0;
}

.missionAndVision p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #51371c;
  margin: 0;
}

.ourStory , .charities{
  background-color: #c74777;
  margin-left: -0.6%;
  margin-right: -0.6%;
  padding: 0 20px;
  padding-bottom: 30px;
}

.ourStory h4, .charities h4 {
  padding-top: 20px;
  color: #fffff1;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
  margin: 0;
  text-shadow: 1.5px 1.5px 0px #efafc7;
}

.ourStory p , .charities p ,.charities li{
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  color: #fffff1;
  margin: 30px 0;
}

.storyContent{
  display: flex;
  flex-direction: row;
  gap:60px;
  

}


.storyText, .storyPicture{
  padding: 20px;
}

.charities{ 
  background-color: #f3e8d4;
  /* margin-left: -0.6%;
  margin-right: -0.6%; */

}

.charitiesContent{
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 30px;
  justify-content: space-between;
}

.charitiesContent div{
  width: 50%;
}

.charities h4, .charities p, .charities li {
  color:#51371c;
}




/* ---===  CITATIONS PAGE ===--- */

/* ---=== NAV BAR ===--- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: self-start;
  padding: 0 40px;
  padding-top: 30px;
  transition: transform 0.8s ease;
  z-index: 10;
  justify-content: space-between;

  /* SVG background */
  background-image: url("../assets/navBarBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar ul {
  display: inline-flex;
  padding-right: 70px;
  padding-top: 20px;
  gap: 50px;
  list-style: none;
  right: end;
}

.navbar li a {
  color: #51371c;
  text-decoration: none;
  font-size: 20px;
  font-family: "Knewave", system-ui;
  font-weight: 600;
  font-style: normal;
}

.navbar li a:hover {
  color: #f3e8d4;
}

.navbar a.active {
  color: #f3e8d4;
}

/* When scrolling down */
.navbar.hide {
  transform: translateY(-100%);
}

/* When scrolling up */
.navbar.show {
  transform: translateY(0);
}

/* ---=== FOOTER ===--- */

.footer {
  position: fixed;
  left: 0;
  width: 105%;
  bottom: 0;
  height: 120px;
  z-index: 1000;
  /* background-image: url("../assets/footerBackground.png"); */
  background-color: #efafc7;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 0; */
  transition: transform 0.6s ease;
}

/* Hidden */
.footer.hideFooter {
  transform: translateY(100%);
}

/* Visible */
.footer.showFooter {
  transform: translateY(0);
}

/* Left links */
.footerLeft {
  margin-left: 10px;
  align-self: flex-end;
}

.footerLeft ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
}

.footerLeft li a {
  font-family: "Knewave", system-ui;
  text-decoration: none;
  color: #51371c;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerLeft li a:hover {
  color: #f3e8d4;
}

/* Center logo */
.footerCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding-bottom: 10px;
}

.footerCenter img {
  width: 60px;
}

/* Right social icons */
.footerRight {
  align-self: flex-end;
  margin-right: 120px;
  right: 0;
}

.footerRight ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footerRight img {
  width: 40px;
  height: 40px;
}
